body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#allcanvas {
  position: relative;
  min-width: 100vw;
  height: 100vh;
  margin: 0px;
}
#canvas1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
#canvas2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.game-dialog {
  box-sizing: border-box;
  padding: 1rem;
  width: 360px;
  min-height: 430px;
  max-width: calc(100% - 2rem);
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 100;
  overflow: hidden;
  border: 1px solid transparent;
}

.game-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3); /* 背景色及透明度 */
}

header {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 600;
  background: linear-gradient(135deg, #00e1ff, #7b09ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 1rem 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  transition: transform 0.3s ease-in-out;
}

header:hover {
  transform: scale(1.05);
}

.article .section-content:last-child {
  margin-bottom: 0;
}

.mom {
  text-align: end;
}

.section-content {
  max-width: 100%;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.section-content:hover {
  transform: translateX(-4px);
}

footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  height: 6vh;
  width: 100%;
  align-items: center;
  justify-content: end;
}

footer :nth-child(2) {
  margin-left: 10px;
}

button {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  outline: none;
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
